<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery shop | store</title>

    <link rel="stylesheet" href="css/groccery.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-nav nav">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/store">VEGETABLES</a></li>
                <li><a href="/fruits">FRUITS</a></li>
            </ul>
        </nav>

        <h1 class="band-name band-name-large">Grocery Shop </h1>

    </header>

    <div class="cart-items">
        <div class="cart-item">
            <h1 class="cart-item-name">ITEM</h1>
            <h1 class="cart-item-price">PRICE</h1>
        </div>
    </div>


    <footer class="main-footer">
        <div class="container main-footer-container">
            <h3 class="band-name">
                Grocerry Shop
            </h3>
            <ul class="nav footer-nav">
                <div class="footer-extra">
                    <h4>Contact No. - 1233456789</h4>
                    <h4>Email - gmc@gmail</h4>
                    <h4>Copyright</h4>
                </div>

            </ul>
        </div>

    </footer>
</body>
<script src="js/cart.js"></script>

</html>